/* FONTS */
@import url(https://fonts.googleapis.com/css2?family=Estonia&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);

/* VARIABLES */
:root {
  --c-dark: #fff6ef;
  --c-brand: #404f45;
  --c-brand-light: #404f45;
  --c-brand-rgb: 78, 87, 212;
  --c-body: #fff6ef;
  --font-base: Lato;
  --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
  --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
  font-family: var(--font-base);
  line-height: 1.7;
  color: var(--c-body);
  background-color: #a5b6ab;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: Estonia;
  font-size: 6.5rem;
  text-shadow: 4px 4px 4px black;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: Estonia;
  font-size: 4rem;
  text-shadow: 2px 2px 2px #404f45;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-family: Estonia;
  font-size: 2rem;
  text-shadow: 1px 1px 1px #404f45;
  -webkit-font-smoothing: antialiased;
}

h4 {
  font-family: Estonia;
  font-size: 4rem;
  text-shadow: 2px 2px 2px black;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: var(--c-brand);
  transition: var(--transition);
  font-style: bold;
  -webkit-font-smoothing: antialiased;
}

a:hover {
  color: var(--c-brand-light);
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  border-radius: 1.5%;
}

#button2 {
  background-color: #6e8776;
  color: white;
  padding: 1px 15px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  font-family: Estonia;
  border-radius: 10px;
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 140px;
}

.theme-shadow {
  box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
  position: relative;
  /* overflow: hidden; */
}

.image-zoom-wrapper {
  overflow: hidden;
  position: relative;
}

.image-zoom-wrapper img {
  transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
  transform: scale(1.1);
}

/* NAVBAR */
.navbar {
  box-shadow: var(--box-shadow);
  background-color: #aec1b5;
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: var(--c-dark);
}

.navbar-nav .nav-link.active {
  color: var(--c-brand);
}

/* HERO */
#hero {
  background: url(../images/websitecover2.jpg);
  background-position: center;
  background-size: cover;
}

/* SECTION TITLE */
.section-title {
  margin-bottom: 60px;
}

.section-title .line {
  width: 60px;
  height: 4px;
  background-color: var(--c-brand);
  margin: 16px auto 24px auto;
}

.section-title p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* ICONBOX */
.iconbox {
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--c-brand-rgb), 0.1);
  color: var(--c-brand);
  font-size: 34px;
  flex: none;
}

/* SERVICE */

#services {
  background: url(../images/Listen2.jpg);
  background-position: center;
  background-size: cover;
}

.service {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.service::after {
  content: "";
  width: 40px;
  height: 40px;
  background: rgba(var(--c-brand-rgb), 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: var(--transition);
}

.service:hover::after {
  width: 100%;
  height: 100%;
  background: var(--c-brand);
  z-index: -1;
}

.service:hover h5,
.service:hover p {
  color: white;
}

.service:hover .iconbox {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

/* PORTFOLIO */

.iframe-container {
  position: relative;
  width: 100%; /* Ensure the container stretches to full width */
  height: 0;
  padding-bottom: 56.25%; /* Aspect ratio 16:9 (height / width * 100) */
  overflow: hidden;
  margin-bottom: 10px; /* Optional: Adds some space between iframe and other content */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .iframe-container {
    padding-bottom: 75%; /* Adjust aspect ratio for smaller screens */
  }
}

/* TEAM */
.team-member-content {
  background-color: var(--c-brand);
  position: absolute;
  bottom: -24px;
  left: 50%;
  width: calc(100% - 50px);
  transform: translateX(-50%);
  padding: 24px;
  transition: var(--transition);
  opacity: 0;
}

.team-member:hover .team-member-content {
  opacity: 1;
  bottom: 24px;
}

/* CONTACT */
#contact {
  position: relative;
}

#contact::after {
  content: "";
  width: 100%;
  height: 70%;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#contact .form-control {
  border-radius: 0;
}

#contact .form-control:focus {
  box-shadow: none;
  border-color: var(--c-brand);
}

/* FOOTER */
footer {
  padding-top: 120px;
}

.footer-top {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer li,
footer p,
footer a {
  color: rgba(255, 255, 255, 0.7);
}

footer ul {
  list-style: none;
  padding: 0;
}

footer .line {
  width: 40px;
  height: 4px;
  background-color: var(--c-brand);
  margin-top: 12px;
  margin-bottom: 24px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
}

.social-icons a:hover {
  background-color: var(--c-brand);
  color: white;
}

.social-media2 {
  justify-content: space-between;
}
